<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button routerLink="/addclient">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <!-- List of Text Items -->
<ion-list>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Edson de Jesus Uribe Ayala</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button size="small" color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" color="warning">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" color="success" routerLink="/payments">
              <ion-icon name="cash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Bladimir Desaili Haro Cabello </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button size="small" color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" color="warning">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" color="success">
              <ion-icon name="cash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Edson de Jesus Uribe Ayala</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button size="small" color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" color="warning">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" color="success">
              <ion-icon name="cash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Bladimir Desaili Haro Cabello</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button size="small" color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" color="warning">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" color="success">
              <ion-icon name="cash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Edson de Jesus Uribe Ayala</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button size="small" color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" color="warning">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" color="success">
              <ion-icon name="cash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Bladimir Desaili Haro Cabello</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button size="small" color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" color="warning">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" color="success">
              <ion-icon name="cash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-list>

  <app-explore-container name="Tab 2 page"></app-explore-container>

</ion-content>


