<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    
    <ion-card>
          <ion-card-content>
            <ion-label>
              <strong>Fecha <a class="date">15/02/2021</a></strong>
              <h2>Edson de Jesus Uribe Ayala</h2>
              <h3>Total de Compra: <a class="tc">$2500</a></h3>
              <h3>Total Restante: <a class="tr">$2000</a></h3>
            </ion-label>
          </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-label>
          <strong>Fecha <a class="date">19/05/2021</a></strong>
          <h2>Bladimir Desaili Haro Cabello</h2>
          <h3>Total de Compra: <a class="tc">$2500</a></h3>
          <h3>Total Restante: <a class="tr">$2000</a></h3>
        </ion-label>
      </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-label>
      <strong>Fecha <a class="date">15/02/2021</a></strong>
      <h2>Edson de Jesus Uribe Ayala</h2>
      <h3>Total de Compra: <a class="tc">$2500</a></h3>
      <h3>Total Restante: <a class="tr">$2000</a></h3>
    </ion-label>
  </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-content>
      <ion-label>
        <strong>Fecha <a class="date">19/05/2021</a></strong>
        <h2>Bladimir Desaili Haro Cabello</h2>
        <h3>Total de Compra: <a class="tc">$2500</a></h3>
        <h3>Total Restante: <a class="tr">$2000</a></h3>
      </ion-label>
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-label>
      <strong>Fecha <a class="date">15/02/2021</a></strong>
      <h2>Edson de Jesus Uribe Ayala</h2>
      <h3>Total de Compra: <a class="tc">$2500</a></h3>
      <h3>Total Restante: <a class="tr">$2000</a></h3>
    </ion-label>
  </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-content>
      <ion-label>
          <strong>Fecha <a class="date">19/05/2021</a></strong>
          <h2>Bladimir Desaili Haro Cabello</h2>
          <h3>Total de Compra: <a class="tc">$2500</a></h3>
          <h3>Total Restante: <a class="tr">$2000</a></h3>
      </ion-label>
    </ion-card-content>
</ion-card>


  </ion-list>


  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
